@tailwind base;
@tailwind components;
@tailwind utilities;


   
  @import url('https://fonts.googleapis.com/css2?family=Arimo&family=Lato:wght@300;400&display=swap');

body{
    font-family: "Arimo";
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root{
  position: relative;
}
